<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soulinku.demo2.mapper.MainMapper">

    
    
    <select id="selectMainAll" resultType="mainDto">
        SELECT * FROM TB_MAIN
        where 1=1
        
    </select>











</mapper>